@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #AAA;
  color: white;
}
body * {
  color: inherit;
}
a[href] {
  color: white;
}
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 50px;
}
.navbar .container {
  display: flex;
  align-items: center;
}
.navbar .logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
	font-weight: 600;
	color: #000;
  text-decoration: none;
}
.navbar .logo.upper-camel span {
  font-size: 30px;
}
.navbar .nav-links {
  display: flex;
  margin-left: auto;
  list-style: none;
}
.navbar .nav-links .nav-item {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  transition: opacity 0.3s;
}
.navbar .nav-links .nav-item.active {
  color: #000;
  font-weight: 700;
}
.navbar .nav-links .nav-item.active:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
}
.navbar .nav-links .nav-item:hover {
  opacity: 0.5;
}
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero .container {
  display: flex;
  align-items: center;
}
.hero .text-wrapper {
  width: 50%;
}
.hero .text-wrapper.w-full {
  width: 100%;
}
.hero .text-wrapper .title {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000;
}
.hero .text-wrapper .description {
  font-size: 22px;
  line-height: 40px;
}
.hero .text-wrapper .cta {
  display: inline-block;
  padding: 15px 45px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s;
}
.hero .text-wrapper .cta:hover {
  transform: scale(1.1);
}
.hero .image-wrapper {
  width: 50%;
  text-align: right;
}
.portfolio-wrapper {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.portfolio-wrapper .portfolio-item {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.portfolio-wrapper .portfolio-item .portfolio-image {
  max-width: 100%;
}
.portfolio-wrapper .portfolio-item .portfolio-name {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.portfolio-wrapper .portfolio-item .portfolio-category {
  color: #999;
}
.contact-links {
  padding: 0;
  padding-left: 15px;
  margin-top: -10px;
  list-style: square;
}
.contact-links .contact-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hl {
	color: #000;
}
